body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4A4A4A;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/logoP.png);
    background-repeat: no-repeat;
}

.confirmation-container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4A4A4A;
}

p {
    margin-bottom: 20px;
    color: #555;
}

.button {
    display: inline-block;
    background-color: #4A4A4A;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #333;
}
